.lifestyle {
    border: 1px solid $secondary__color;
    padding: 2rem 1rem;
    background-image: linear-gradient(#fff, #f5f5f5);

    &__box {
        padding-right: 1rem;
        height: 100%;
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        height: 30rem;
        align-items: flex-start;

        .part {
            background: $secondary__color;
            height: 100%;
            width: 3px;
            margin: 0 1rem;
        }

        .justText {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .lifestyleCard {
            display: flex;
            align-items: flex-start;
            height: 100%;

            .lifestyleCard__col {
                display: flex;
                flex-direction: column;
                height: 100%;

                .lifestyleCard__container {
                    display: flex;
                    height: 100%;
                }

                .lifestyle__heading {
                    color: $darkGrey__color;
                }
            }

            .lifestyle__box {
                height: 100%;
            }
        }

        &__item {
            width: 32%;
            height: 100%;
            padding-right: 1rem;

            .text {
                font-family: "Roboto", sans-serif;
                color: $darkGrey__color;
            }

            .mainText {
                font-size: 1.5rem;
                margin: 2rem 0;
            }

            .box__text {
                font-size: 1.2rem;
                margin: 0.8rem 0;
            }

            .image {
                overflow: hidden;
                width: 12rem;

                img {
                    width: 100%;
                    margin-left: -1rem;
                }
            }
        }
    }

    &__btn {
        margin: 2rem 0;
        width: 20rem;
    }
}

.customerNnews {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    margin: 4rem 0;

    .customer {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__text {
            margin-top: 3rem;
            font-family: "Roboto", sans-serif;
            color: $darkGrey__color;
            font-size: 1.5rem;

            a {
                color: $primary__color;
                margin-left: 2rem;
            }
        }

        &__gallery {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;

                .imgBox {
                    cursor: pointer;
                }
            }
        }
    }

    .news {
        width: 30%;

        &__box {
            margin-top: 3rem;
            border-bottom: 2px solid $secondary__color;

            &:last-child {
                border: 0;
            }

            padding-bottom: 2rem;

            .headline {
                color: $primary__color;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                font-size: 1.8rem;
            }

            .date {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 1.5rem;
                color: $darkGrey__color;
                margin-bottom: 1.8rem;
            }

            .text {
                font-family: "Roboto", sans-serif;
                color: $darkGrey__color;
                font-size: 1.5rem;

                a {
                    color: $primary__color;
                    margin-left: 2rem;
                }
            }
        }
    }
}

.media {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#fff, #f5f5f5);
    padding: 2rem;
    border: 2px solid $secondary__color;

    .photos,
    .videos {
        width: 45%;

        .gallery {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;

                .imgBox {
                    cursor: pointer;
                    width: 18rem;
                    height: 12rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .text {
            margin-top: 2rem;
            color: $darkGrey__color;
            font-size: 1.2rem;

            a {
                color: $primary__color;
                margin-left: 2rem;
            }
        }
    }
}

.popup {
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.752);
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s;
    transform-origin: center;
    // overflow: hidden;

    &__container {
        width: 45rem;
        height: 30rem;
        background: #fff;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10rem;
        position: relative;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform-origin: center;

        .heading__popup {
            background: #fff;
        }

        .imgBox {
            margin-top: 4.5rem;
        }

        .close {
            position: absolute;
            background: #fff;
            width: 2.5rem;
            height: 2.5rem;
            right: -1rem;
            top: -1rem;
            border-radius: 300px;
            cursor: pointer;
            z-index: 30;
            transform-origin: center;

            i {
                width: 1rem;
                height: 1rem;
                position: absolute;
                transform: translate(0.15rem);
            }
        }

    }

    &__main {
        width: 100%;
        height: 100%;
        position: relative;

        .prev,
        .next {
            position: absolute;
            z-index: 20;
            top: 50%;
            color: #fff;
            cursor: pointer;

        }

        .prev {
            left: -5rem;
        }

        .next {
            right: -5rem;
        }

        .cont {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            .heading {
                background: #fff;
                width: 100%;
                padding: .8rem 2rem;
                position: absolute;
                top: 0;
                z-index: 18;
                font-size: 1.5rem;
                color: $primary__color;
            }

            .imgCont {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;

                .sliderImg {
                    transition: all .2s;
                }

                img,
                iframe {
                    position: absolute;
                    left: 0;
                    top: 3rem;
                    width: 100%;

                }
            }
        }
    }
}

.hidePopup {
    transform: scale(0);
    opacity: 0;
}